// Navigation Styles here

.navbar {
    .flex(space-between);
    .spacing(5%, center);
    margin: 3% 20%;
    @media @mobile{
        flex-direction: column;
        text-align: center;
        margin: 3%;
    }
    
    
}//this closes .navbar

.links {
    .flex(space-around);
    width: 42%;
    font-size: 180%;
    @media @mobile{
        width: 100%;
        margin-top: 4%;
    }


    a {
        justify-content: space-between;
        text-decoration: none;
        color          : @shark;
        font-size: 100%; 
    }

    //this closes a
}

//this closes .links

.funbus{
    width: 100%;
    margin: 0% 0% 2% 0%;
    border-top: 2px dashed lightgray;

    .yfun{
        width: 60%;
        margin: 0% 20%;
        @media @mobile{
            width: 90%;
            margin: 0% 6%;
        }
    }//this closes .yfun
}//this closes .funbus

.top-content{
    
    .h2{
        margin: 0% 0% 2% 20%;
        @media @mobile{
            margin: 0 0 2% 6%;
        }
    }
    .p{
        border-bottom: 2px dashed lightgray;
        margin: 0% 20%;
        @media @mobile{
        .mediawidth();
        .mediapad();
    }
    }
}
